.admin-view-btn-con{
  .admin-view-btn{
    width: 15%;
    float: left;
    text-align: center;
  }

  .admin-view-btn:hover {
    cursor: pointer;
    background-color: darkblue;
  }
}

.admin-view-con{
}