@import "nomalize.scss";

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  background-color: yellow;
  margin-bottom: 1rem;

  .navi-element-list {
    display: flex;
    align-items: center;
    list-style: none;

    .navi-element {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      a {
        text-decoration: none;
        color: #000;
      }
    }
  }

  .navi-button-div {
    display: flex;
    align-items: center;

    .navi-input-bar {
      margin-right: 10px;
      padding: 5px;
    }

    .navi-button {
      padding: 5px;
      background-color: #ccc;
      border: none;
      color: #fff;
    }
  }
}