@import "nomalize.scss";

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  background-color: yellow;
  margin-bottom: 1rem;

  .logo-img-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;

    .logo-image {
      width: 4rem;
      height: auto;
      margin-right: 1rem;
    }
  }

  .navi-element-list-div{
    width: 7rem;
    height: 70%;

    .navi-element-list {
      position: absolute;
      align-items: center;
      list-style: none;
      right: 0;
      width: 7rem;
      z-index: 100;

      .navi-element {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }




  .navi-button-div {
    display: flex;
    align-items: center;
    position: relative;

    .navi-input-bar {
      margin-right: 10px;
      width: 250px;
      height: 20px;
      padding: 5px;
      font-size: 18px;
      line-height: 18px;
    }

    .navi-button {
      padding: 5px;
      background-color: #ccc;
      border: none;
      color: #fff;
    }
  }
}

.search-results {
  position: absolute;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  z-index: 999;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.search-result-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  background-color: #f1f1f1;
  text-align: left;
}

.search-result-item:hover, .selected {
  background-color: grey;
}