//$conceptYellow: #FFEE33;
//$conceptYellow: #FFF450;
//$conceptYellow: #ffe650;
$conceptYellow: rgba(255, 230, 80, 0.9); // 50% 투명도
$conceptPink:#FFB79A;
$document_background: #ffd882b0;

*{
  text-align: center;
}

a{
  text-decoration: none;
}


a:visited, a:link { color:cornflowerblue; }
a:hover { color:darkblue; }

ul{
  list-style: none;
}