
@import "nomalize.scss";

.report-input-icon{
  padding-top: 20px;
  height: 3rem;

  .text-input{
    position: absolute;
    width: 70%;

    input[type="text"]{
      display: inline-block;
      width: 15rem;
      //width: 500px;
      height: 40px;
      box-sizing: border-box;
      outline: none;
      border: 1px solid lightgray;
      border-radius: 3px;
      padding: 10px 10px 10px 100px;
      transition: all 0.1s ease-out;

      &.waiting {
        background-color: #a1d2e1; // 대기 상태 배경색
      }

      &.completed {
        background-color: #99d099; // 완료 상태 배경색
      }

      &.canceled {
        background-color: #f1bebe; // 취소 상태 배경색
      }
    }

    input[type="text"] + label{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: 40px;
      line-height: 40px;
      color: white;
      border-radius: 3px 0 0 3px;
      padding: 0 20px;
      background: #E03616;
      transform: translateZ(0) translateX(0);
      transition: all 0.3s ease-in;
      transition-delay: 0.2s;

      &.waiting {
        background-color: #198dd5; // 대기 상태 배경색
      }

      &.completed {
        background-color: green; // 완료 상태 배경색
      }

      &.canceled {
        background-color: red; // 취소 상태 배경색
      }
    }

    input[type="text"]:focus + label{
      transform: translateY(-120%) translateX(0%);
      border-radius: 3px;
      transition: all 0.1s ease-out;
    }

    input[type="text"]:focus{
      padding: 10px;
      transition: all 0.3s ease-out;
      transition-delay: 0.2s;
    }
  }

  .text-input:nth-of-type(2){
    right: 0;
    margin-right: 0;
  }

  .text-input:nth-of-type(3) {
    right: -30%; /* 원하는 만큼 조절 */
    margin-right: 0;
  }
}

.report-writing{
  width: 100%;
  height: 35rem;
  //height: 500px;
  display: inline-flex;
  gap: 10px;
  font-family: monospace;
  line-height: 21px;
  background: #282a3a;
  border-radius: 3px;
  margin-bottom: 6px;
  //padding: 20px 10px;

  textarea {
    width: 100%;
    height: 35rem;
    font-size: 18px;
    line-height: 21px;
    overflow-y: hidden;
    padding: 10px;
    border: 0;
    background: #f1a163;
    color: #000000;
    outline: none;
    resize: none;
    box-sizing: border-box; /* 추가 */
  }
}

.report-comment {
  margin-top: 20px;
  padding-right: 20px;
  font-size: 16px;

  .comment {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    height: 300px;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;

    p {
      margin: 0;
    }
  }
}

.admin-action {
  display: flex;
  flex-direction: column;
  //align-items: center;
  margin-top: 20px;

  textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    height: 100px;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    font-size: 16px;
  }

  .admin-result {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    height: 100px;
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    font-size: 16px;
  }

}

.report-button {
  text-align: center !important;
}


